Repository redhat-plumbers/systemd-rhel9, pull requests merged in 2023-02, with the labels that each got.

#136 (#2159448) udev: make get_virtfn_info() provide physical PCI device
  src/udev/udev-builtin-net_id.c
Labels: ci-waived

#139 (#2170500) udev/net_id: introduce naming scheme for RHEL-9.2
  man/systemd.net-naming-scheme.xml
  src/shared/netif-naming-scheme.c
  src/shared/netif-naming-scheme.h
Labels: ci-waived

#142 (#2140646) efi: drop executable-stack bit from .elf file
  src/boot/efi/meson.build
Labels: ci-waived

#145 (#1985288) test: add coverage for #24177
  test/units/testsuite-64.sh
Labels: needs-ci

#144 (#2172401) logind-session: make stopping of idle session visible to admins
  src/login/logind-session.c
Labels: ci-waived

#146 (#2173682) journal-file: Fix return value in bump_entry_array()
  src/libsystemd/sd-journal/journal-file.c
Labels: needs-ci, ci-waived
