Repository redhat-plumbers/systemd-rhel9, pull requests merged in 2023-07, with the labels that each got.

#181 (#2170883) Allow `RHEL-only` labels to mark downstream-only commits
  .github/advanced-commit-linter.yml
Labels: needs-ci, ci-waived

#183 (#2222259) Discard PT_LOAD segment early based on the start address
  src/shared/elf-util.c
Labels: ci-waived, rhel-9.2.0

#179 (#2218184) pam: add a call to pam_namespace
  src/login/systemd-user.in
Labels: ci-waived

#176 (#2212612) rules: online CPU automatically on IBM s390x platforms
  rules.d/40-redhat.rules
Labels: ci-waived

#167 (#2208240) core/mount: escape invalid UTF8 char in dbus reply
  src/core/dbus-mount.c
Labels: ci-waived

#150 Revert "user: delegate cpu controller, assign weights to user slices"
  TODO
  units/user/app.slice
  units/user/background.slice
  units/user/session.slice
  units/user@.service.in
Labels: ci-waived

#162 (#2193456) manager: don't taint the host if cgroups v1 is used
  man/org.freedesktop.systemd1.xml
  src/core/manager.c
  src/test/test-manager.c
Labels: needs-ci, ci-waived

#163 (#2196479) manager: don't taint the host if cgroups v1 is used
  man/org.freedesktop.systemd1.xml
  src/core/manager.c
  src/test/test-manager.c
Labels: needs-ci, ci-waived, rhel-9.2.0
