Repository redhat-plumbers/systemd-rhel9, pull requests merged in 2024-05, with the labels that each got.

#266 (RHEL-30372) ci: update manpage deployment workflow
  .github/workflows/deploy-man-pages.yml
Labels: ci-waived

#269 (RHEL-36284) bootspec: fix null-dereference-read
  src/shared/bootspec.c
  test/fuzz/fuzz-bootspec/clusterfuzz-testcase-minimized-fuzz-bootspec-5731869371269120
Labels: follow-up-waived

#271 (RHEL-35994) kernel-install: fix uki-copy deinstall
  src/kernel-install/90-uki-copy.install
Labels: ci-waived, rhel-9.4.0, pr/needs-manual-merge
